---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<main class="max-w-4xl mx-auto px-6 py-12">
		<h1 class="text-5xl font-bold mb-16">Blog</h1>
		
		<p class="text-lg leading-relaxed">coming soon...</p>
	</main>
</Layout>